.caja-servicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 15px;
}

.caja-btn-prueba {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.btn-solicitar-prueba {
  width: 40%;
  padding: 4px;
  border-radius: 8px;
  border: 4px solid #FF5722;
  box-shadow: 2px 2px 8px 2px gray;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  background-color: #FF5722;
  transition: all 0.3s ease;
}

.btn-solicitar-prueba:hover {
  background-color: #E64A19;
  box-shadow: 2px 2px 15px 2px #FF5722;
}

.btn-palabra-gratis {
  color: rgb(243, 233, 57);
}

.contenedor-servicio {
  width: 35%;
  padding: 15px;
  border-radius: 18px;
  background-color: white;
  border: 3px solid transparent; /* Border color set in specific classes */
  transition: background-color 0.3s ease;
}

.contenedor-servicio-plata {
  border-color: #2196F3;
}

.contenedor-servicio-oro {
  border-color: #FFC107;
}

.contenedor-servicio-plata:hover {
  background-color: #E3F2FD;
}

.contenedor-servicio-oro:hover {
  background-color: #FFF8E1;
}

.caja-descuento {
  display: flex;
  align-items: center;
  gap: 5%;
}

.img-descuento {
  width: 25%;
}

.nombre-plan {
  width: 80%;
  font-size: 18px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.caja-logo-servicio {
  padding-top: 12px;
  display: flex;
  justify-content: center;
}

.logo-servicio {
  width: 45%;
}

.caja-descripcion-servicio {
  display: flex;
  justify-content: center;
}

.descripcion-del-servicio {
  font-weight: 700;
  font-size: 16px;
  padding: 8px 0;
  text-align: center;
}

.caja-precios {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 8px;
  gap: 5%;
}

.simbolo-dolar {
  font-size: 18px;
}

.precio-servicio {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #E64A19;
}

.precio-descuento {
  text-decoration: line-through;
  color: #9E9E9E;
}

.caja-btn-pedir {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.btn-pedir-servicio {
  width: 100%;
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3; /* Default to Plan Plata color */
  transition: background-color 0.3s ease;
}

.btn-pedir-servicio:hover {
  background-color: #1976D2;
}

.btn-pedir-servicio-oro {
  background-color: #FFC107;
}

.btn-pedir-servicio-oro:hover {
  background-color: #FFA000;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .caja-btn-prueba {
    padding-bottom: 0;
  }

  .btn-solicitar-prueba {
    width: 50%;
    text-align: center;
    font-size: 32px;
  }

  .caja-servicio {
    gap: 15px;
  }

  .contenedor-servicio {
    width: 45%;
  }

  .nombre-plan {
    font-size: 28px;
  }

  .caja-logo-servicio {
    padding-top: 0;
  }

  .logo-servicio {
    width: 80%;
  }

  .descripcion-del-servicio {
    font-size: 1.9rem;
  }

  .caja-precios {
    padding-top: 20px;
  }

  .precio-servicio {
    font-size: 48px;
  }

  .caja-btn-prueba {
    padding: 18px;
  }

  .btn-pedir-servicio {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .caja-servicio {
    gap: 15px;
  }

  .caja-btn-prueba {
    padding-bottom: 0;
  }

  .btn-solicitar-prueba {
    width: 70%;
  }

  .contenedor-servicio {
    width: 75%;
  }

  .img-descuento {
    width: 30%;
  }

  .nombre-plan {
    font-size: 20px;
  }

  .caja-logo-servicio {
    padding-top: 0;
  }

  .logo-servicio {
    width: 80%;
  }

  .descripcion-del-servicio {
    font-size: 1.4rem;
  }

  .caja-precios {
    padding-top: 20px;
  }

  .precio-servicio {
    font-size: 48px;
  }

  .btn-pedir-servicio {
    font-size: 28px;
  }
}

