:root {
    --color-header: #171718;
    --color-letras: #47D16E;
    --color-footer: #131414;
    --hover-boton: #2e8747;
    --main-color: #1F1F21;
    --fondo-gris: #f1f5f9;
    --letras-oscuras: #c7cbce;
}